body{
    background: papayawhip;
}
.rishab{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
}
.rishab1{
    padding:50px;
    border-style: solid;
    font-family: Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 360px) {
	input{   
	  height:70px;
	  }
  }
  @media screen and (max-width: 360px) {
    input{   
      height:90px;
    }
  }
  @media screen and (min-width: 450px) {
    input{   
      height:30px;
      }
    }
    